name: check

on:
  push:
  pull_request:

env:
  PYTHONPATH: ../src

jobs:
  coverage:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
        working-directory: tests
    steps:
      - uses: actions/checkout@v6
      - uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: "environment.dev.yml"
          cache-downloads: true
          cache-env: true
      - run: pytest -n auto --cov=../ --cov-report xml
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
