name: docs

on:
  push:
    branches:
      - main

defaults:
  run:
    shell: bash -l {0}

env:
  PYTHONPATH: src

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: mamba-org/provision-with-micromamba@v16
        with:
          environment-file: "environment.dev.yml"
          cache-downloads: true
          cache-env: true
      - run: pdoc src/ -o docs/
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/
